<div class="row">
    <div class="col-2" style="background-color: #090131">
      <div>
        <%= render template: "reqs/home" %>
      </div>
    </div>
    <div class="col-3" style="background-color: #FFFFFF">
      <%= render template: "candidates/home" %>
    </div>
    <div class="col-7">
      <%= render 'shared/navbar' %>

    </div>
</div>
